<a href="https://colab.research.google.com/github/timmymatten/timmymatten/blob/main/MLBattersProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

dataset of hitters from 1871-2015

In [13]:
batters = pd.read_csv("batters.csv", index_col=0)

In [14]:
batters.head()

,year,stint,team_id,league_id,g,ab,r,h,double,triple,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,g_idp
player_id,,,,,,,,,,,,,,,,,,,,,
abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,0.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,5.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,2.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,3.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [15]:
batters.shape

(101332, 21)

In [17]:
batters["league_id"].value_counts()

league_id
NL    51385
AL    46371
AA     1890
FL      470
UA      332
PL      147
Name: count, dtype: int64

we are going to analyze just the modern era (1901-2015)

In [20]:
batters = batters[batters["year"] >= 1901]

In [21]:
batters

,year,stint,team_id,league_id,g,ab,r,h,double,triple,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,g_idp
player_id,,,,,,,,,,,,,,,,,,,,,
anderjo01,1901,1,MLA,AL,138,576.0,90.0,190.0,46.0,7.0,...,99.0,35.0,NaN,24.0,NaN,NaN,3.0,4.0,NaN,NaN
bakerbo01,1901,1,CLE,AL,1,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN
bakerbo01,1901,2,PHA,AL,1,3.0,0.0,1.0,0.0,0.0,...,1.0,0.0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN
barreji01,1901,1,DET,AL,135,542.0,110.0,159.0,16.0,9.0,...,65.0,26.0,NaN,76.0,NaN,NaN,5.0,7.0,NaN,NaN
barrysh01,1901,1,BSN,NL,11,40.0,3.0,7.0,2.0,0.0,...,6.0,1.0,NaN,2.0,NaN,NaN,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zitoba01,2015,1,OAK,AL,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,2.0,...,33.0,1.0,1.0,33.0,26.0,2.0,0.0,0.0,3.0,5.0
zobribe01,2015,2,KCA,AL,59,232.0,37.0,66.0,16.0,1.0,...,23.0,2.0,3.0,29.0,30.0,1.0,1.0,0.0,2.0,3.0
zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,0.0,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
zychto01,2015,1,SEA,AL,13,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

team_id
CLE    4451
SLN    4372
CHN    4327
PIT    4308
PHI    4288
BOS    4278
CIN    4233
CHA    4229
NYA    4220
DET    4172
BAL    2518
LAN    2346
SFN    2300
NYN    2292
HOU    2191
MIN    2119
WS1    2069
ATL    2050
OAK    2046
SDN    2007
KCA    1971
TEX    1936
NY1    1922
BRO    1921
PHA    1832
BSN    1764
SLA    1752
SEA    1671
TOR    1635
MON    1479
CAL    1315
COL    1079
ML4    1060
FLO     849
ARI     830
TBA     809
MIL     794
LAA     664
KC1     572
WAS     525
ML1     467
WS2     430
ANA     337
MIA     194
BRF      72
BLF      67
PTF      62
BLA      62
BUF      59
CHF      58
SE1      53
SLF      50
KCF      46
NEW      28
IND      28
MLA      26
Name: count, dtype: int64